body {background-color: rgba(144, 132, 255, 0.981);}

h1 {font-family: "New Rocker", system-ui;}
h1 {color: rgb(0, 0, 0);}

h2 {font-family: "Grenze Gotisch", serif;}
h1 {color: rgb(0, 0, 0);}

p {font-family: "Yatra One", system-ui;}
p {color: rgb(0, 0, 0);}

article {font-family: "Yatra One", system-ui;}
article {color: rgb(0, 0, 0);}
