body {background-color: rgba(144, 132, 255, 0.981);}

h1 {font-family: "New Rocker", system-ui;}

p {font-family: "Yatra One", system-ui;}

a {font-family: "Yatra One", system-ui;}

label {font-family: "Yatra One", system-ui;}