body {
    background-color: rgb(156, 155, 230);
}
h1 {  font-family: "Press Start 2P", system-ui;

}

h1{color: rgb(46, 19, 197);}

p {color: rgb(54, 56, 173);}

p {  font-family: "VT323", monospace;
}

nav { 
    font-family: "VT323", monospace;
}

.laura {color: rgb(30, 32, 156);}

